<nb-layout start responsive>
  <!-- <nb-layout-header>عنوان نمونه</nb-layout-header>
  <nb-layout-footer>پانویس </nb-layout-footer> -->
  <nb-layout-column style="flex: 0.20"></nb-layout-column>
  
  <nb-layout-column style="flex: 0.60">
    <button nbButton outline size="giant" status="primary" fullWidth shape="semi-round" onclick="top.window['test33']()">سرویس شماره 1</button>
    <button nbButton outline size="giant" status="danger" fullWidth shape="semi-round" onclick="top.HelloFromChild('')">سرویس شماره 2</button>
    <button nbButton outline size="giant" disabled status="primary" fullWidth shape="semi-round">سرویس شماره 3</button>
    <button nbButton outline size="giant" status="warning" fullWidth shape="semi-round">سرویس شماره 4</button>
    <table datatable [dtOptions]="dtOptions" class="row-border hover stripe" >
        <thead>
          <tr>
            <th>ردیف</th>
            <th>عنوان</th>
            <th>محتوی</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
          </tr>
          
        </tbody>
        
      </table>
  </nb-layout-column>
  <nb-layout-column style="flex: 0.20"></nb-layout-column>
</nb-layout>
<button (click)="this.callInIframe()">sayHi</button>
